/* General Reset */
body, html, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    height: 100%;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Headings */
h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

/* Buttons */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Lists */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

/* Inputs */
input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
